<%- include('partials/header') -%>

  <div class="container g-4 " style="max-width: 540px;">
  <div class="col d-grid gap-4 mt-5">
    <% for(var i=0; i<posts.length; i++) {%>
    <div class="card h-100">
      <a href="/post/<%= posts[i]._id%>">
        <img class="card-img-top" src="<%= posts[i].image%>">
      </a>
      <div class="card-body">
        <h5 class="card-title"><%= posts[i].title %></h5>
        <p class="card-text"><small> <%= posts[i].city %>, <%= posts[i].state %></small></p>
        <p class="card-text"><%= posts[i].caption %></p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><%= posts[i].createdAt.toDateString() %></small>
      </div>
    </div>
    <% } %>
  </div>
</div>

 
<!-- <%- include('partials/footer') -%> -->